  <!DOCTYPE html>
<html>
<head>

<title>Room Display</title>
</head>
<body>
<button onclick = "receive_print()";>receive and print</button>
  <button onclick="lightchanges();">Light</button>
  <button onclick="curtainchanges();">Curtain</button>
<div id = 'light on curtain close' style = "display:none" >
    <image src = "/static/10.jpeg" alt = "light on cur close">
    <p> The hotel light has been turned on for you. </p>

</div>
<div id = 'light off curtain close' style = "display:none">
    <image src = "/static/01.jpeg" alt = "light off cur close">
    <p> The hotel light has been turned off for you. </p>
</div>
<div id = 'light on curtain open' style = "display:block"  >
    <image src = "/static/11.jpeg" alt = "light on cur open">
    <p> The hotel light has been turned on for you. </p>

</div>
<div id = 'light off curtain open' style = "display:none">
    <image src = "/static/00.jpeg" alt = "light off cur close">
    <p> The hotel light has been turned off for you. </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

<script>
var light_on_curtain_close = document.getElementById('light on curtain close');
var light_off_curtain_close = document.getElementById('light off curtain close');
var light_on_curtain_open = document.getElementById('light on curtain open');
var light_off_curtain_open = document.getElementById('light off curtain open');
var socket = io();
// socket.on('api',function(response){
//   console.log(response);
// });
// socket.on('message', function(response){
//   console.log("response_from_apiai: " + response);
// });
  socket.on('api',function(response){
    console.log("response from apiai:" + response);
    console.log(response['action']);
    change_from_action(response); 
  });
  function change_from_action(response){
    if(response['facility'] === 'light' ){
      if(response['action'] === 'turn on'){
        if(light_off_curtain_close.style.display === 'block'){replace(light_on_curtain_close,light_off_curtain_close);}
        else if(light_off_curtain_open.style.display === 'block'){replace(light_on_curtain_open,light_off_curtain_open);}
      }
      if(response['action'] === 'turn off'){
        if(light_on_curtain_close.style.display === 'block'){replace(light_off_curtain_close,light_on_curtain_close);}
        else if(light_on_curtain_open.style.display === 'block'){replace(light_off_curtain_open,light_on_curtain_open );}
       }
    }
    if(response['facility'] === 'curtain'){
      if(response['action'] === 'pull down'){
        if(light_on_curtain_open.style.display === 'block'){replace(light_on_curtain_close,light_on_curtain_open);}
        else if(light_off_curtain_open.style.display === 'block'){replace(light_off_curtain_close,light_off_curtain_open);}
      }
      if(response['action'] === 'pull up'){
        if(light_on_curtain_close.style.display === 'block'){replace(light_on_curtain_open,light_on_curtain_close);}
      else if(light_off_curtain_close.style.display === 'block'){replace(light_off_curtain_open,light_off_curtain_close);}
      }    
    }
}


// function lightchanges(){
//   // socket.emit('message',"steeve is a pig")
//   if(light_on_curtain_close.style.display === 'block'){replace(light_off_curtain_close,light_on_curtain_close);}
//   else if(light_off_curtain_close.style.display === 'block'){replace(light_on_curtain_close,light_off_curtain_close);}
//   else if(light_on_curtain_open .style.display === 'block'){replace(light_off_curtain_open,light_on_curtain_open );}
//   else if(light_off_curtain_open.style.display === 'block'){replace(light_on_curtain_open,light_off_curtain_open);}
// }
// function curtainchanges(){
//   if(light_on_curtain_close.style.display === 'block'){replace(light_on_curtain_open,light_on_curtain_close);}
//   else if(light_off_curtain_close.style.display === 'block'){replace(light_off_curtain_open,light_off_curtain_close);}
//   else if(light_on_curtain_open.style.display === 'block'){replace(light_on_curtain_close,light_on_curtain_open );}
//   else if(light_off_curtain_open.style.display === 'block'){replace(light_off_curtain_close,light_off_curtain_open);}
// }

function replace(on, off) {
  //replace off with on
  on.style.display="block";
  off.style.display="none";
}
function receive_print(){
  theUrl = 'http://localhost:5009/api'
  var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            console.log("connected !!!!! ");
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);

}
/*function lightchanges(){
  var x = document.getElementById('light on');
  var y = document.getElementById('light off');
  if(x.style.display === 'none'){
    x.style.display = 'block';
    y.style.display = 'none';
  }else {
    x.style.display = 'none';
    y.style.display = 'block';
  }
}*/
</script>
</body>
</html>
